@inherits EntitesGridModel<Entity.ClientSecret>

<EntitiesGrid Items="@Secrets" TableClass="table table-hover" Context="secret">
    <TableHeader>
        <th scope="col">
            <SortableHeader Property="Type"
                            Text="@Localizer["type"]"
                            GridState="GridState" />
        </th>
        <th scope="col">
            <SortableHeader Property="Value"
                            Text="@Localizer["value"]"
                            GridState="GridState" />
        </th>
        <th scope="col">
            <SortableHeader Property="Description"
                            Text="@Localizer["description"]"
                            GridState="GridState" />
        </th>
        <th scope="col">
            <SortableHeader Property="Expiration"
                            Text="@Localizer["expiration"]"
                            GridState="GridState" />
        </th>
        <th></th>
    </TableHeader>
    <RowTemplate>
        @if (secret.Id != null)
        {
            <td>
                <div class="col-form-label">
                    @Localizer[secret.Type]
                </div>
            </td>
            <td>
                <input type="password" readonly class="form-control-plaintext" value="@secret.Value" />
            </td>
        }
        else
        {
            <td>
                <AuthorizeDropDownButton CssSubClass="btn-secondary" @bind-SelectedValue="@secret.Type" Values="@SecretTypes.Values" />
            </td>
            <td>
                <AuthorizeText Placeholder="@Localizer["value"]" @bind-Value="@secret.Value" MaxLength="4000" />
            </td>
        }
        <td>
            <AuthorizeText Placeholder="@Localizer["description"]" @bind-Value="@secret.Description" MaxLength="2000" />
        </td>
        <td>
            <AuthorizeDate @bind-Value="@secret.Expiration" />
        </td>
        <td>
            <AuthorizeButton Type="button" CssSubClass="btn-primary" Clicked="() => OnDeleteEntityClicked(secret)">
                <span class="oi oi-trash"></span>
            </AuthorizeButton>
        </td>
    </RowTemplate>
</EntitiesGrid>
