@inject IStringLocalizerAsync<ClientScopes> Localizer
<div class="row">
    <div class="col">
        <ul class="list-inline">
            @foreach (var scope in Scopes)
            {
                <li class="list-inline-item">
                    <ClientScope @bind-Value="@scope.Scope" Entity="@scope"
                                    Model="@Model"
                                    DeleteClicked="() => OnScopeDeleted(scope)" />
                </li>
            }
            <li class="list-inline-item">
                <ClientScope @bind-Value="@_scope.Scope" Entity="@_scope"
                                Model="@Model"
                                EntityChanged="() => OnScopeValueChanged(_scope)" />
            </li>
        </ul>
    </div>
</div>
@if (Model.ProtocolType == "oidc")
{
    <div class="row">
        <div class="col">
            <AuthorizeCheckbox Name="allow-offline-access" Label="@Localizer["allow offline access"]" @bind-Value="@Model.AllowOfflineAccess" />
        </div>
    </div>
}