@* 
Project: Aguafrommars/TheIdServer
Copyright (c) 2021 @Olivier Lefebvre
*@
@inject SignInManager<ApplicationUser> SignInManager
@inject IViewLocalizer Localizer

@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills nav-stacked">
    <li class="@ManageNavPages.IndexNavClass(ViewContext)"><a asp-page="./Index">@Localizer["Profile"]</a></li>
    <li class="@ManageNavPages.EmailNavClass(ViewContext)"><a id="email" asp-page="./Email">@Localizer["Email"]</a></li>
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)"><a id="change-password" asp-page="./ChangePassword">@Localizer["Password"]</a></li>
    @if (hasExternalLogins)
    {
        <li class="@ManageNavPages.ExternalLoginsNavClass(ViewContext)"><a id="external-login" asp-page="./ExternalLogins">@Localizer["External logins"]</a></li>
    }
    <li class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)"><a asp-page="./TwoFactorAuthentication">@Localizer["Two-factor authentication"]</a></li>
    <li class="@ManageNavPages.PersonalDataNavClass(ViewContext)"><a asp-page="./PersonalData">@Localizer["Personal data"]</a></li>
    <li class="@ManageNavPages.GrantsNavClass(ViewContext)"><a asp-page="./Grants">@Localizer["Grants"]</a></li>
</ul>
