@using System.Globalization
@inherits AutoCompleteModel<CultureInfo>

    <div class="input-group" data-toggle="dropdown">
        <input id="@Id" type="text" class="form-control @FieldClass" placeholder="@Localizer["culture"]" value="@Entity.Name"
               @oninput="OnInputChanged" @onfocus="() => OnInputChanged(new ChangeEventArgs { Value = Entity.Name })" />
    </div>
<div class="dropdown-menu m-0">
    @if (_filterValues != null)
    {
        foreach (var value in _filterValues)
        {
            <button class="dropdown-item m-0 p-0 pl-1 pr-1" type="button" @onclick="() => SetSelectedValue(value.Name)">
                @value.Name
                <div>
                    <em><small>@value.DisplayName</small></em>
                </div>
            </button>
        }
    }
</div>