@using Microsoft.Extensions.Logging
@typeparam TItem
@inject ILogger<EntitiesGrid<TItem>> _logger
@inject IStringLocalizerAsync<EntitiesGrid<TItem>> Localizer

<table class="@TableClass">
    @if (TableHeader != null)
    {
        <thead class="select">
            <tr class="@HeaderRowClass">@TableHeader</tr>
        </thead>
    }
    @if (Items != null && RowTemplate != null)
    {
        <tbody>
            @if (Items.Any())
            {
                @foreach (var item in Items)
                {
                    <tr @key="item" class="@RowClass" @onclick="() => RowClicked.InvokeAsync(item)">@RowTemplate(item)</tr>
                }
            }
            else
            {
                <tr>Nothing here.</tr>
            }
        </tbody>
    }
    @if (TableFooter != null)
    {
        <tfoot>
            <tr>@TableFooter</tr>
        </tfoot>
    }
</table>
