@inject IStringLocalizerAsync<PageListHeader> Localizer
<div class="row">
    <h3 class="col">@Name</h3>
    <div class="col">
        <AuthorizeView Policy="Is4-Writer">
            <Authorized>
                <a href="@Url" class="btn btn-sm btn-primary">
                    <span class="oi oi-plus"></span> @Localizer["Add"]
                </a>
                <ExportButtom EntityPath="@Url" Request="@ExportRequest" CssClass="btn-sm" />
            </Authorized>
        </AuthorizeView>
    </div>
</div>
