@inherits ProviderOptionsBase<GoogleOptions>

<div class="mb-1 row">
    <label class="col col-form-label" for="clientId">
        @Localizer["client id"]
    </label>
    <div class="col-lg-10 col-sm-12">
        <AuthorizeText Id="clientId" Placeholder="@Localizer["client id"]" @bind-Value="@Model.Options.ClientId" />
    </div>
</div>
<div class="mb-1 row">
    <label class="col col-form-label" for="clientSecret">
        @Localizer["client secret"]
    </label>
    <div class="col-lg-10 col-sm-12">
        <AuthorizeText Id="clientSecret" Placeholder="@Localizer["client secret"]" @bind-Value="@Model.Options.ClientSecret" />
    </div>
</div>
<div class="mb-1 row">
    <label class="col col-form-label" for="accessType">
        @Localizer["access type"]
    </label>
    <div class="col-lg-10 col-sm-12">
        <AuthorizeText Id="accessType" Placeholder="@Localizer["access type"]" @bind-Value="@Model.Options.AccessType" />
    </div>
</div>
<OAuthOptionsProperties />
