@using Microsoft.AspNetCore.Identity
@page "/users"
@inherits EntitiesModel<Entity.User>

<div class="row bg-body sticky-top">
    <div class="col-12 col-md">
        <PageListHeader Name="@Localizer["Users"]" Url="user" ExportRequest="@ExportRequest" ExportDisabled="@ExportDisabled" />
    </div>
    <div class="col-12 col-md">
        <Filter TermChanged="OnFilterChanged" />
    </div>
    <EntitiesGrid Items="EntityList" TableClass="table mb-0">
        <TableHeader>
            <th><SelectAll GridState="GridState" /></th>
            <th class="w-50" scope="col">
                <SortableHeader Property="Id"
                                Text="@Localizer["id"]"
                                GridState="GridState" />
            </th>
            <th class="w-50" scope="col">
                <SortableHeader Property="UserName"
                                Text="@Localizer["name"]"
                                GridState="GridState" />
            </th>
        </TableHeader>
    </EntitiesGrid>
</div>
@if (EntityList == null)
{
    <Loading />
}
else
{
    <div class="row">
        <EntitiesGrid Items="EntityList" TableClass="table table-hover">
            <RowTemplate>
                <SelectableItem GridState="GridState" Item="@context" Selected="value => OnItemSelected(context.Id, value)" Context="item">
                    <td class="w-50" @onclick="() => OnRowClicked(item)">@item.Id</td>
                    <td class="w-50" @onclick="() => OnRowClicked(item)">
                        @item.UserName
                    </td>
                </SelectableItem>
            </RowTemplate>
        </EntitiesGrid>
    </div>
    <div class="row">
        <div class="col-12">
            <Pagination TotalPages="@TotalPages" CurrentPage="@CurrentPage" OnPageChanged="@NavigateToPage" />
        </div>
    </div>
}

