@inject IStringLocalizerAsync<ClientIdpRestrictions> Localizer
<div class="row">
    <div class="col">
        <ul class="list-inline">
            @foreach (var provider in Restrictions)
            {
                <li @key="provider" class="list-inline-item">
                    <IdentityProvider @bind-Value="@provider.Provider" Entity="@provider"
                                      DeleteClicked="() => OnProviderDeletedClicked(provider)" />
                </li>
            }
            <li class="list-inline-item">
                <IdentityProvider @bind-Value="@_provider.Provider" Entity="@_provider"
                                  EntityChanged="() => OnProviderValueChanged(_provider)" />
            </li>
        </ul>
        <AuthorizeCheckbox Label="@Localizer["enable local login"]" @bind-Value="@Model.EnableLocalLogin" />
    </div>
</div>
