@using  Aguacongas.TheIdServer.BlazorApp.Components.ApiComponents

@page "/protectresource"
@page "/protectresource/{id}"
@inherits EntityModel<Entity.ProtectResource>

@if (Model == null)
{
    <PageLoading />
}
else
{
    <EditForm EditContext="EditContext" OnValidSubmit="HandleValidSubmit">
        <CascadingValue Value="HandleModificationState">
            <div class="row bg-light sticky-top">
                <div class="col">
                    @if (IsNew)
                    {
                        <AuthorizeText Id="name" Placeholder="api id" @bind-Value="@Model.Id" />
                    }
                    else
                    {
                        <h3>@Id</h3>
                    }
                </div>
                @if (!NonEditable)
                {
                    <div>
                        <SaveButton />
                        @if (!IsNew)
                        {
                            <DeleteEntityButton EntityId="@Model.Id" DeleteConfirmed="DeleteEntity" />
                        }
                    </div>
                }
                <div class="col">
                    <Filter CssClass="mt-1" TermChanged="OnFilterChanged" />
                </div>
                <div class="w-100"></div>
                <div class="col">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="@(NavigationManager.Uri)#secrets" @onclick='() => ScrollTo("secrets")' @onclick:preventDefault>secrets</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="@(NavigationManager.Uri)#claims" @onclick='() => ScrollTo("claims")' @onclick:preventDefault>claims</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="@(NavigationManager.Uri)#scopes" @onclick='() => ScrollTo("scopes")' @onclick:preventDefault>scopes</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="@(NavigationManager.Uri)#properties" @onclick='() => ScrollTo("properties")' @onclick:preventDefault>properties</a>
                        </li>
                    </ul>
                </div>
                <div class="w-100"></div>
                <FluentValidationValidator />
                <ValidationSummary class="col" />
            </div>
            <div class="entity-details">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col col-form-label">
                            </label>
                            <div class="col-lg-10 col-sm-12">
                                <AuthorizeCheckbox Name="enabled" Label="enabled" @bind-Value="@Model.Enabled" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col col-form-label" for="displayName">
                                display name
                            </label>
                            <div class="col-lg-10 col-sm-12">
                                <AuthorizeText Id="displayName" Placeholder="display name" @bind-Value="@Model.DisplayName" MaxLength="200" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col col-form-label" for="description">
                                description
                            </label>
                            <div class="col-lg-10 col-sm-12">
                                <AuthorizeTextArea Id="description" Placeholder="decription" @bind-Value="@Model.Description" MaxLength="1000" />
                            </div>
                        </div>
                    </div>
                </div>
                <div id="secrets" class="card mb-3">
                    <div class="card-header">
                        <EntitySubGridTitle Text="Secrets" Collection="Model.Secrets" CreateModel="CreateSecret" />
                    </div>
                    <div class="card-body">
                        <ApiSecrets Collection="Model.Secrets" />
                    </div>
                </div>
                <div id="claims" class="card mb-3">
                    <div class="card-header">
                        <div class="row">
                            <h5 class="col">Claims</h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <ApiClaimTypes Model="Model" />
                    </div>
                </div>
                <div id="scopes" class="card mb-3">
                    <div class="card-header">
                        <EntitySubGridTitle Text="Scopes" Collection="Model.Scopes" CreateModel="CreateApiScope" />
                    </div>
                    <div class="card-body">
                        <div class="row">
                            @foreach (var scope in Model.Scopes)
                            {
                                <div class="col-12">
                                    <ApiScope Collection="@Model.Scopes" Scope="@scope" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div id="properties" class="card mb-3">
                    <div class="card-header">
                        <EntitySubGridTitle Text="Properties" Collection="Model.Properties" CreateModel="CreateProperty" />
                    </div>
                    <div class="card-body">
                        <ApiProperties Collection="Model.Properties" />
                    </div>
                </div>
            </div>
        </CascadingValue>
    </EditForm>
}
