@page "/scopes"
@inherits EntitiesModel<Entity.ApiScope>

<div class="row sticky-top bg-light">
    <div class="col">
        <PageListHeader Name="@Localizer["Scopes"]" Url="apiscope" ExportRequest="@ExportRequest" />
    </div>
    <div class="col">
        <Filter TermChanged="OnFilterChanged" />
    </div>
    <EntitiesGrid Items="EntityList" TableClass="table mb-0">
        <TableHeader>
            <th class="w-25" scope="col">
                <SortableHeader Property="Id"
                                Text="@Localizer["id"]"
                                GridState="GridState" />
            </th>
            <th class="w-75" scope="col">
                <SortableHeader Property="DisplayName"
                                Text="@Localizer["name"]"
                                GridState="GridState" />
            </th>
        </TableHeader>
    </EntitiesGrid>
</div>
@if (EntityList == null)
{
    <Loading />
}
else
{
    <div class="row">
        <EntitiesGrid Items="EntityList" TableClass="table table-hover"
                      RowClicked="(Entity.ApiScope item) => OnRowClicked(item)">
            <RowTemplate>
                <td class="w-25">@context.Id</td>
                <td class="w-75">
                    @LocalizeEntityProperty(context, context.DisplayName, Entity.EntityResourceKind.DisplayName)
                    <div><em>@LocalizeEntityProperty(context, context.Description, Entity.EntityResourceKind.Description)</em></div>
                </td>
            </RowTemplate>
        </EntitiesGrid>
    </div>
}

