@using Aguacongas.TheIdServer.BlazorApp.Components.LocalizedResourceComponents
@page "/culture"
@page "/culture/{id}"
@inherits EntityModel<Entity.Culture>

@if (Model == null)
{
    <p class="col"><em>Loading...</em></p>
}
else
{
    <EditForm EditContext="EditContext" OnValidSubmit="HandleValidSubmit">
        <CascadingValue Value="HandleModificationState">
            <div class="row bg-light sticky-top mb-3">
                <div class="col">
                    @if (IsNew)
                    {
                        <AuthorizeText Id="name" Placeholder="culture name" @bind-Value="@Model.Id" />
                    }
                    else
                    {
                        <h3>@Model.Id</h3>
                    }
                </div>
                <div>
                    <SaveButton />
                    @if (!IsNew && Model.Id != "en-US")
                    {
                        <DeleteEntityButton EntityId="@Model.Id" DeleteConfirmed="DeleteEntity" />
                    }
                </div>

                <div class="col">
                    <Filter CssClass="mt-1" TermChanged="OnFilterChanged" />
                </div>
                <div class="w-100"></div>
                <FluentValidationValidator />
                <ValidationSummary class="col" />
            </div>
            <div class="entity-details">
                <div id="claims" class="card mb-3">
                    <div class="card-header">
                        <EntitySubGridTitle Text="Resources" Collection="@Model.Resources" CreateModel="CreateResource" />
                    </div>
                    <div class="card-body">
                        <EntitiesGrid Items="@Model.Resources" TableClass="table table-hover" Context="resource">
                            <TableHeader>
                                <th class="col">
                                    <SortableHeader Property="Key"
                                                    Text="key"
                                                    GridState="_gridState" />
                                </th>
                                <th></th>
                            </TableHeader>
                            <RowTemplate>
                                <td class="col">
                                    <LocalizedResource Model="resource" />
                                </td>
                                <td class="col-1">
                                    <AuthorizeButton Type="button" CssSubClass="btn-primary" Clicked="() => OnDeleteResourceClicked(resource)">
                                        <span class="oi oi-trash"></span>
                                    </AuthorizeButton>
                                </td>
                            </RowTemplate>
                        </EntitiesGrid>
                    </div>
                </div>
            </div>
        </CascadingValue>
    </EditForm>
}
