@using  Aguacongas.TheIdServer.BlazorApp.Components.UserComponents
@using System.Security.Claims
 
@page "/user"
@page "/user/{id}"
@inherits EntityModel<Models.User>

@if (Model == null)
{
    <p class="col"><em>Loading...</em></p>
}
else
{
<EditForm EditContext="EditContext" OnValidSubmit="HandleValidSubmit">
    <CascadingValue Value="HandleModificationState">
        <div class="row bg-light sticky-top mb-3">
            <div class="col">
                <h3>@Model.UserName</h3>
            </div>
            <div>
                <AuthorizeButton Type="submit" CssSubClass="btn-primary">
                    <span class="oi oi-data-transfer-download"></span>
                    Save
                </AuthorizeButton>
                @if (!IsNew)
                {
                    <DeleteEntityButton EntityId="@Model.Id" DeleteConfirmed="DeleteEntity" />
                }
            </div>

            <div class="col">
                <Filter CssClass="mt-1" TermChanged="OnFilterChanged" />
            </div>
            <div class="w-100"></div>
            <div class="col">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="@(NavigationManager.Uri)#claims" @onclick='() => ScrollTo("claims")' @onclick:preventDefault>claims</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="@(NavigationManager.Uri)#roles" @onclick='() => ScrollTo("roles")' @onclick:preventDefault>roles</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="@(NavigationManager.Uri)#consents" @onclick='() => ScrollTo("consents")' @onclick:preventDefault>consents</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="@(NavigationManager.Uri)#external-logins" @onclick='() => ScrollTo("external-logins")' @onclick:preventDefault>external logins</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="@(NavigationManager.Uri)#external-logins-tokens" @onclick='() => ScrollTo("external-logins-tokens")' @onclick:preventDefault>external logins tokens</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="@(NavigationManager.Uri)#reference-tokens" @onclick='() => ScrollTo("reference-tokens")' @onclick:preventDefault>reference tokens</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="@(NavigationManager.Uri)#refresh-tokens" @onclick='() => ScrollTo("refresh-tokens")' @onclick:preventDefault>refresh tokens</a>
                    </li>
                </ul>
            </div>

            <FluentValidationValidator />
            <ValidationSummary class="col" />
        </div>
        <div class="entity-details">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col col-form-label" for="email">
                            user name
                        </label>
                        <div class="col-lg-10 col-sm-12">
                            <AuthorizeText Id="name" @bind-Value="@Model.UserName" />
                        </div>
                    </div>
                    @if (IsNew)
                    {
                        <div class="form-group row">
                            <label class="col col-form-label" for="description">
                                password
                            </label>
                            <div class="col-lg-10 col-sm-12">
                                <AuthorizeText Id="password" Placeholder="password" @bind-Value="@Model.Password" />
                            </div>
                        </div>
                    }
                    <div class="form-group row">
                        <label class="col col-form-label" for="email">
                            email
                        </label>
                        <div class="col-lg-10 col-sm-12">
                            <AuthorizeText Id="email" @bind-Value="@Model.Email" />
                            <div>
                                <AuthorizeCheckbox Name="email-confirmed" Label="email confirmed" @bind-Value="@Model.EmailConfirmed" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col col-form-label" for="phone-number">
                            phone number
                        </label>
                        <div class="col-lg-10 col-sm-12">
                            <AuthorizeText Id="phone-number" @bind-Value="@Model.PhoneNumber" />
                            <div>
                                <AuthorizeCheckbox Name="phone-number-confirmed" Label="phone number confirmed" @bind-Value="@Model.PhoneNumberConfirmed" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col col-form-label" for="lokoutend">
                            lockout end
                        </label>
                        <div class="col-lg-10 col-sm-12">
                            <AuthorizeDate Id="lokoutend" @bind-Value="@Model.LockoutEnd" />
                            <div>
                                <AuthorizeCheckbox Name="lockout-enabled" Label="lockout enabled" @bind-Value="@Model.LockoutEnabled" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col col-form-label">
                        </label>
                        <div class="col-lg-10 col-sm-12">
                            <AuthorizeCheckbox Name="two-factor-enabled" Label="two factor enabled" @bind-Value="@Model.TwoFactorEnabled" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col col-form-label" for="access-failed-count">
                            access failed count
                        </label>
                        <div class="col-lg-10 col-sm-12">
                            <input id="access-failed-count" type="text" readonly class="form-control-plaintext" value="@Model.AccessFailedCount" />
                        </div>
                    </div>
                </div>
            </div>
            <div id="claims" class="card mb-3">
                <div class="card-header">
                    <EntitySubGridTitle Text="Claims" Collection="@Model.Claims" CreateModel="CreateClaim" />
                </div>
                <div class="card-body">
                    <EntitiesGrid Items="@Model.Claims" TableClass="table table-hover" Context="claim">
                        <TableHeader>
                            <th scope="col">
                                <SortableHeader Property="Type"
                                                Text="type"
                                                GridState="_gridState" />
                            </th>
                            <th scope="col">
                                <SortableHeader Property="Value"
                                                Text="value"
                                                GridState="_gridState" />
                            </th>
                            <th scope="col">
                                <SortableHeader Property="Issuer"
                                                Text="issuer"
                                                GridState="_gridState" />
                            </th>
                        </TableHeader>
                        <RowTemplate>
                            @if (claim.Issuer == ClaimsIdentity.DefaultIssuer)
                            {
                                <td>
                                    <AuthorizeText @bind-Value="@claim.ClaimType" MaxLength="250" />
                                </td>
                                <td>
                                    <AuthorizeText @bind-Value="@claim.ClaimValue" />
                                </td>
                                <td>
                                    <AuthorizeButton Type="button" CssSubClass="btn-primary" Clicked="() => OnDeleteClaimClicked(claim)">
                                        <span class="oi oi-trash"></span>
                                    </AuthorizeButton>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <div>@claim.ClaimType</div>
                                    @if (claim.OriginalType != null)
                                    {
                                        <em class="small text-secondary">from: @claim.OriginalType</em>
                                    }
                                </td>
                                <td>
                                    @claim.ClaimValue
                                </td>
                                <td>
                                    @claim.Issuer
                                </td>
                            }
                        </RowTemplate>
                    </EntitiesGrid>
                </div>
            </div>
            <div id="roles" class="card mb-3">
                <div class="card-header">
                    <div class="row">
                        <h5 class="col">Roles</h5>
                    </div>
                </div>
                <div class="card-body">
                    <UserRoles Model="@Model.Roles" DeleteRoleClicked="OnDeleteRoleClicked" RoleValueChanged="OnRoleValueChanged" />
                </div>
            </div>
            <div id="consents" class="card mb-3">
                <div class="card-header">
                    <div class="row">
                        <h5 class="col">Consents</h5>
                    </div>
                </div>
                <div class="card-body">
                    <UserConsents Collection="@Model.Consents"  />
                </div>
            </div>
            <div id="external-logins" class="card mb-3">
                <div class="card-header">
                    <div class="row">
                        <h5 class="col">External login</h5>
                    </div>
                </div>
                <div class="card-body">
                    <UserLogins Collection="@Model.Logins"  />
                </div>
            </div>
            <div id="external-logins-tokens" class="card mb-3">
                <div class="card-header">
                    <div class="row">
                        <h5 class="col">External login tokens</h5>
                    </div>
                </div>
                <div class="card-body">
                    <UserTokens Collection="@Model.Tokens" />
                </div>
            </div>
            <div id="reference-tokens" class="card mb-3">
                <div class="card-header">
                    <div class="row">
                        <h5 class="col">Reference tokens</h5>
                    </div>
                </div>
                <div class="card-body">
                    <ReferenceToken Collection="@Model.ReferenceTokens" />
                </div>
            </div>
            <div id="refresh-tokens" class="card mb-3">
                <div class="card-header">
                    <div class="row">
                        <h5 class="col">Refresh tokens</h5>
                    </div>
                </div>
                <div class="card-body">
                    <RefreshToken Collection="@Model.RefreshTokens"  />
                </div>
            </div>
        </div>
    </CascadingValue>
</EditForm>
}
