<div class="card bg-light mb-3">
    <div class="card-header">
        @if (Scope.Id == null)
        {
            <AuthorizeText Id="scope" Placeholder="scope" @bind-Value="@Scope.Scope" />
        }
        else
        {
            @Scope.Scope
        }
    </div>
    <div class="card-body">
        <div class="form-group row">
            <label class="col col-form-label" for="displayName">
                display name
            </label>
            <div class="col-lg-10 col-sm-12">
                <AuthorizeText Id="displayName" Placeholder="display name" @bind-Value="@Scope.DisplayName" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col col-form-label" for="description">
                description
            </label>
            <div class="col-lg-10 col-sm-12">
                <AuthorizeTextArea Id="description" Placeholder="description" @bind-Value="@Scope.Description" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col col-form-label">
            </label>
            <div class="col-12 col-md-10">
                <AuthorizeCheckbox Label="required" @bind-Value="@Scope.Required" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col col-form-label">
            </label>
            <div class="col-lg-10 col-sm-12">
                <AuthorizeCheckbox Name="emphasize" Label="emphasize" @bind-Value="@Scope.Emphasize" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col col-form-label">
            </label>
            <div class="col-lg-10 col-sm-12">
                <AuthorizeCheckbox Name="show-in-discovery-document" Label="show in discovery document" @bind-Value="@Scope.ShowInDiscoveryDocument" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col col-form-label">
                claims
            </label>
            <div class="col-lg-10 col-sm-12">
                <ApiScopeClaimTypes Scope="@Scope" ClaimValueChanged="OnScopeClaimValueChanged" DeleteClaimClicked="OnScopeClaimDeleted" />
            </div>
        </div>
    </div>
    @if (Model.Scopes.Count() > 1)
    {
        <div class="card-footer">
            <AuthorizeButton Type="button" CssSubClass="btn-sm btn-primary" Clicked="OnDeleteScopeClicked">
                <span class="oi oi-trash"></span>Remove
            </AuthorizeButton>
        </div>
    }
</div>
