@inherits InputText
<AuthorizeView Policy="Is4-Writer">
    <Authorized>
        <div id="@Id" class="btn-group">
            <button class="btn dropdown-toggle @CssSubClass" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @Value
            </button>
            <div class="dropdown-menu">
                @foreach (var value in Values)
                {
                    <div class="dropdown-item @GetActiveClass(value) select" @onclick="() => SetSelectValue(value)">@value</div>
                }
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div id="@Id" class="col-form-label">
            @Value
        </div>
    </NotAuthorized>
</AuthorizeView>
