@inherits InputText
<AuthorizeView Policy="Is4-Writer">
    <Authorized>
        <InputText id="@Id" class="form-control" placeholder="@Placeholder" maxlength="@MaxLength"
                   ValueExpression="@ValueExpression" Value="@Value" ValueChanged="ValueChanged" />
    </Authorized>
    <NotAuthorized>
        <div id="@Id" class="col-form-label">
            @Value
        </div>
    </NotAuthorized>
</AuthorizeView>
