@inherits ButtonBase
@inject IStringLocalizerAsync<SaveButton> Localizer
<AuthorizeView Policy="Is4-Writer">
    <Authorized>
        @if (Clicked.HasDelegate)
        {
            <button class="btn @CssSubClass" type="submit" @onclick="OnClicked">
                <span class="oi oi-data-transfer-download"></span>
                @Localizer["Save"]
            </button>
        }
        else
        {
            <button class="btn @CssSubClass" type="submit" disabled="@_disabled">
                <span class="oi oi-data-transfer-download"></span>
                @Localizer["Save"]
            </button>
        }
    </Authorized>
</AuthorizeView>