@inherits ClientEntitiesGridModel<Entity.ClientUri>

<EntitiesGrid Items="@GetClientUrls()" TableClass="table table-hover" Context="url">
    <TableHeader>
        <th scope="col">
            <SortableHeader Property="Uri"
                            Text="uri"
                            GridState="GridState" />
        </th>
        @if (Model.IsSpaClient())
        {
            <th scope="col" class="text-center">
                <SortableHeader Property="Cors"
                                Text="cors"
                                GridState="GridState" />
            </th>
        }
        <th scope="col" class="text-center">
            <SortableHeader Property="Redirect"
                            Text="redirect"
                            GridState="GridState" />
        </th>
        @if (Model.CanHandlePostLogout())
        {
            <th scope="col" class="text-center">
                <SortableHeader Property="PostLogout"
                                Text="post logout"
                                GridState="GridState" />
            </th>
        }
        <th></th>
    </TableHeader>
    <RowTemplate>
        @if (url.Id != null)
        {
            <td>
                @url.Uri
            </td>
        }
        else
        {
            <td>
                <AuthorizeText Id="uri" @bind-Value="@url.Uri" />
            </td>
        }
        @if (Model.IsSpaClient())
        {
            <td class="text-center">
                <AuthorizeCheckbox Name="cors" @bind-Value="@url.Cors" />
            </td>
        }
        <td class="text-center">
            <AuthorizeCheckbox Name="redirect" @bind-Value="@url.Redirect" />
        </td>
        @if (Model.CanHandlePostLogout())
        {
            <td class="text-center">
                <AuthorizeCheckbox Name="postlogout" @bind-Value="@url.PostLogout" />
            </td>
        }
        <td>
            <AuthorizeButton CssSubClass="btn-primary" Clicked="() => OnDeleteEntityClicked(url.Parent)">
                <span class="oi oi-trash"></span>
            </AuthorizeButton>
        </td>
    </RowTemplate>
</EntitiesGrid>
