@inject IStringLocalizerAsync<ApiScope> Localizer

<div class="card bg-light mb-3">
    <div class="card-header">
        @if (Scope.Id == null)
        {
            <AuthorizeText Id="scope" Placeholder="@Localizer["scope"]" @bind-Value="@Scope.Scope" />
        }
        else
        {
            @Scope.Scope
        }
    </div>
    <div class="card-body">
        <div class="form-group row">
            <label class="col col-form-label" for="displayName">
                @Localizer["display name"]
            </label>
            <div class="col-lg-9 col-sm-12">
                <AuthorizeText Id="displayName" Placeholder="@Localizer["display name"]" @bind-Value="@Scope.DisplayName" MaxLength="200" />
            </div>
            <div class="col-1">
                <button id="@($"btnAddDisplayName{Scope.Scope}")" type="button" class="btn btn-primary btn-sm" @onclick="() => AddResource(Entity.EntityResourceKind.DisplayName)">
                    <span class="oi oi-plus"></span>
                </button>
            </div>
        </div>
        <ApiScopeResources Collection="@Scope.Resources" ResourceKind="@Entity.EntityResourceKind.DisplayName"></ApiScopeResources>
        <div class="form-group row">
            <label class="col col-form-label" for="description">
                @Localizer["description"]
            </label>
            <div class="col-lg-10 col-sm-12">
                <AuthorizeTextArea Id="description" Placeholder="@Localizer["description"]" @bind-Value="@Scope.Description" MaxLength="1000" />
            </div>
            <div class="col-1">
                <button id="@($"btnAddDescription{Scope.Scope}")" type="button" class="btn btn-primary btn-sm" @onclick="() => AddResource(Entity.EntityResourceKind.DisplayName)">
                    <span class="oi oi-plus"></span>
                </button>
            </div>
        </div>
        <ApiScopeResources Collection="@Scope.Resources" ResourceKind="@Entity.EntityResourceKind.Description"></ApiScopeResources>
        <div class="form-group row">
            <label class="col col-form-label">
            </label>
            <div class="col-12 col-md-10">
                <AuthorizeCheckbox Label="@Localizer["required"]" @bind-Value="@Scope.Required" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col col-form-label">
            </label>
            <div class="col-lg-10 col-sm-12">
                <AuthorizeCheckbox Name="emphasize" Label="@Localizer["emphasize"]" @bind-Value="@Scope.Emphasize" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col col-form-label">
            </label>
            <div class="col-lg-10 col-sm-12">
                <AuthorizeCheckbox Name="show-in-discovery-document" Label="@Localizer["show in discovery document"]" @bind-Value="@Scope.ShowInDiscoveryDocument" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col col-form-label text-lowercase">
                @Localizer["claims"]
            </label>
            <div class="col-lg-10 col-sm-12">
                <ApiScopeClaimTypes Model="Scope" />
            </div>
        </div>
    </div>
    @if (Collection.Count() > 1)
    {
        <div class="card-footer">
            <AuthorizeButton Type="button" CssSubClass="btn-sm btn-primary" Clicked="OnDeleteScopeClicked">
                <span class="oi oi-trash"></span>@Localizer["Remove"]
            </AuthorizeButton>
        </div>
    }
</div>
