@inherits EntitesGridModel<Entity.ApiSecret>

<EntitiesGrid Items="@Collection" TableClass="table table-hover" Context="secret">
    <TableHeader>
        <th scope="col">
            <SortableHeader Property="Type"
                            Text="type"
                            GridState="GridState" />
        </th>
        <th scope="col">
            <SortableHeader Property="Value"
                            Text="value"
                            GridState="GridState" />
        </th>
        <th scope="col">
            <SortableHeader Property="Description"
                            Text="description"
                            GridState="GridState" />
        </th>
        <th scope="col">
            <SortableHeader Property="Expiration"
                            Text="expiration"
                            GridState="GridState" />
        </th>
        <th></th>
    </TableHeader>
    <RowTemplate>
        @if (secret.Id != null)
        {
            <td>
                <div class="col-form-label">
                    @secret.Type
                </div>
            </td>
            <td>
                <input type="password" readonly class="form-control-plaintext" value="@secret.Value" />
            </td>
        }
        else
        {
            <td>
                <AuthorizeDropDownButton CssSubClass="btn-secondary" @bind-SelectedValue="@secret.Type" Values="@SecretTypes.Values" />
            </td>
            <td>
                <AuthorizeText Placeholder="value" @bind-Value="@secret.Value" MaxLength="4000" />
            </td>
        }
        <td>
            <AuthorizeText Placeholder="description" @bind-Value="@secret.Description" MaxLength="1000" />
        </td>
        <td>
            <AuthorizeDate @bind-Value="@secret.Expiration" />
        </td>
        <td>
            <AuthorizeButton Type="button" CssSubClass="btn-primary" Clicked="() => OnDeleteEntityClicked(secret)">
                <span class="oi oi-trash"></span>
            </AuthorizeButton>
        </td>
    </RowTemplate>
</EntitiesGrid>