@* 
Project: Aguafrommars/TheIdServer
Copyright (c) 2023 @Olivier Lefebvre
*@
@page
@using Aguacongas.TheIdServer.BlazorApp
@using Aguacongas.TheIdServer.Models
@using System.Globalization;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="@CultureInfo.CurrentUICulture.Name" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>TheIdServer Admin</title>
    <base href="/" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link href="@SiteOptions.BOOTSTRAPCSSURL"
          rel="stylesheet"
          integrity="@SiteOptions.BOOTSTRAPCSSURLINTEGRITY"
          crossorigin="anonymous">
    <script src="@SiteOptions.JQUERYURL"
        asp-fallback-src="~/lib/jquery/jquery.min.js"
        asp-fallback-test="window.jQuery"   
        integrity="@SiteOptions.JQUERYURLINTEGRITY" 
        crossorigin="anonymous" 
        referrerpolicy="no-referrer"></script>
    <script src="@SiteOptions.BOOTSTRAPJSURL"
            integrity="@SiteOptions.BOOTSTRAPJSURLINTEGRITY"
            crossorigin="anonymous" 
        referrerpolicy="no-referrer"></script>
    <link href="css/app.css" rel="stylesheet" />
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="WebAssemblyPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_content/Aguacongas.TheIdServer.BlazorApp.Infrastructure/TheIdServerInterop.js"></script>
    <script src="_content/Microsoft.AspNetCore.Components.WebAssembly.Authentication/AuthenticationService.js"></script>
    <script src="_framework/blazor.webassembly.js"></script>
</body>
</html>
