@inherits EntitesGridModel<Entity.Key>

<EntitiesGrid Items="@Collection" TableClass="table mb-0">
    <TableHeader>
        <th scope="col" class="w-25">
            <SortableHeader Property="Id"
                            Text="@Localizer["id"]"
                            GridState="GridState" />
        </th>
        <th scope="col" class="w-25">
            <SortableHeader Property="CreationDate"
                            Text="@Localizer["creation"]"
                            GridState="GridState" />
        </th>
        <th scope="col" class="w-25">
            <SortableHeader Property="ActivationDate"
                            Text="@Localizer["activation"]"
                            GridState="GridState" />
        </th>
        <th scope="col" class="w-25">
            <SortableHeader Property="ExpirationDate"
                            Text="@Localizer["expiration"]"
                            GridState="GridState" />
        </th>
        <th scope="col" class="w-25">
            @Localizer["revoked"]
        </th>
        <th></th>
    </TableHeader>
</EntitiesGrid>
@if (Collection == null)
{
    <Loading />
}
else
{
    <EntitiesGrid Items="@Collection" TableClass="table" Context="key">
        <RowTemplate>
            <td class="w-25 @GetItemClass(key)">
                @key.Id
            </td>
            <td class="w-25 @GetItemClass(key)">
                @key.CreationDate.ToLocalTime()
            </td>
            <td class="w-25 @GetItemClass(key)">
                @key.ActivationDate.ToLocalTime()
            </td>
            <td class="w-25 @GetItemClass(key)">
                @key.ExpirationDate.ToLocalTime()
            </td>
            <td class="w-25 @GetItemClass(key) text-decoration-none">
                @key.IsRevoked
            </td>
            <td class="@GetItemClass(key) text-decoration-none">
                @if (!key.IsRevoked)
                {
                    <RevokeButton Key="@key" RevokeConfirmed="RevokeConfirmed" />
                }
            </td>
        </RowTemplate>
    </EntitiesGrid>
}