@* 
Project: Aguafrommars/TheIdServer
Copyright (c) 2023 @Olivier Lefebvre
*@
@using Microsoft.Extensions.Options
@using Aguacongas.TheIdServer.Models

@inject IViewLocalizer Localizer
@inject IOptions<SiteOptions> Options
@model LogoutViewModel

<div class="logout-page">
    <div class="page-header">
        <h1>@Localizer["Logout"]</h1>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <p>@Localizer["Would you like to logout of {0}?", Options.Value.Name]</p>
            <form asp-action="Logout">
                <input type="hidden" name="logoutId" value="@Model.LogoutId" />
                <fieldset>
                    <legend class="visually-hidden">@Localizer["Logout form"]</legend>
                    <div class="form-group">
                        <button class="btn btn-primary">@Localizer["Yes"]</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>