@using Aguacongas.TheIdServer.BlazorApp.Components.ClientComponents

@page "/client"
@page "/client/{id}"
@inherits EntityModel<Entity.Client>

@if (Model == null)
{
    <p class="col"><em>Loading...</em></p>
}
else
{
    <EditForm EditContext="EditContext" OnValidSubmit="HandleValidSubmit">
        <div class="row bg-light sticky-top">
            <div class="col">
                @if (IsNew)
                {
                    <AuthorizeText Id="name" Placeholder="client id" @bind-Value="@Model.Id" />
                }
                else
                {
                    <h3>@Id</h3>
                }
            </div>
            @if (!NonEditable)
            {
                <div>
                    <AuthorizeButton Type="submit" CssSubClass="btn-primary">
                        <span class="oi oi-data-transfer-download"></span>
                        Save
                    </AuthorizeButton>
                    @if (!IsNew)
                    {
                        <DeleteEntityButton EntityId="@Model.Id" DeleteConfirmed="DeleteEntity" />
                    }
                </div>
            }
            <div class="col">
                <Filter CssClass="mt-1" TermChanged="OnFilterChanged" FocusChanged="FilterFocusChanged" />
            </div>
            <div class="w-100"></div>
            <div class="col">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="@(NavigationManager.Uri)#grantTypes" @onclick='() => ScrollTo("grantTypes")' @onclick:preventDefault>grant types</a>
                    </li>
                    @if (Model.IsWebClient())
                    {
                        <li class="list-inline-item">
                            <a href="@(NavigationManager.Uri)#consent" @onclick='() => ScrollTo("consent")' @onclick:preventDefault>consents</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="@(NavigationManager.Uri)#urls" @onclick='() => ScrollTo("urls")' @onclick:preventDefault>urls</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="@(NavigationManager.Uri)#providers" @onclick='() => ScrollTo("providers")' @onclick:preventDefault>idp restrictions</a>
                        </li>
                    }
                    <li class="list-inline-item">
                        <a href="@(NavigationManager.Uri)#scopes" @onclick='() => ScrollTo("scopes")' @onclick:preventDefault>scopes</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="@(NavigationManager.Uri)#tokens" @onclick='() => ScrollTo("tokens")' @onclick:preventDefault>tokens</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="@(NavigationManager.Uri)#secrets" @onclick='() => ScrollTo("secrets")' @onclick:preventDefault>secrets</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="@(NavigationManager.Uri)#claims" @onclick='() => ScrollTo("claims")' @onclick:preventDefault>claims</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="@(NavigationManager.Uri)#properties" @onclick='() => ScrollTo("properties")' @onclick:preventDefault>properties</a>
                    </li>
                </ul>
            </div>
            <div class="w-100"></div>
            <FluentValidationValidator />
            <ValidationSummary class="col" />
        </div>
        <div class="entity-details">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col col-form-label">
                        </label>
                        <div class="col-lg-10 col-sm-12">
                            <AuthorizeCheckbox Name="enabled" Label="enabled" @bind-Value="@Model.Enabled" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col col-form-label" for="name">
                            name
                        </label>
                        <div class="col-lg-10 col-sm-12">
                            <AuthorizeText Id="name" Placeholder="description" @bind-Value="@Model.ClientName" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col col-form-label" for="description">
                            description
                        </label>
                        <div class="col-lg-10 col-sm-12">
                            <AuthorizeTextArea Id="description" Placeholder="description" @bind-Value="@Model.Description" />
                        </div>
                    </div>
                </div>
            </div>
            <div id="grantTypes" class="card mb-3">
                <div class="card-header">
                    <div class="row">
                        <h5 class="col">Grant types</h5>
                    </div>
                </div>
                <div class="card-body">
                    <ClientGrantTypes Model="@Model" 
                                      GrantTypeDeletedClicked="OnGrantTypeDeleted" 
                                      GrantTypeValueChanged="OnGrantTypeValueChanged" />
                </div>
            </div>
            @if (IsWebClient())
            {
                <div id="consent" class="card mb-3">
                    <div class="card-header">
                        <div class="row">
                            <h5 class="col">Consent</h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <ClientConsents Model="@Model" />
                    </div>
                </div>
                <div id="urls" class="card mb-3">
                    <div class="card-header">
                        <EntitySubGridTitle Text="URLs"
                                            AddClicked="OnAddUrlClicked" />
                    </div>
                    <div class="card-body">
                        <ClientUris Model="@Model" DeleteEntityClicked="OnDeleteUrlClicked" />
                    </div>
                </div>
                <div id="providers" class="card mb-3">
                    <div class="card-header">
                        <div class="row">
                            <h5 class="col">External provider restrictions</h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <ClientIdpRestrictions Model="@Model"
                                               ProviderDeletedClicked="OnProviderDeleted" 
                                               ProviderValueChanged="OnProviderValueChanged"/>
                    </div>
                </div>
            }
            <div id="scopes" class="card mb-3">
                <div class="card-header">
                    <div class="row">
                        <h5 class="col">Scopes</h5>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <ul class="list-inline">
                                @foreach (var scope in Model.AllowedScopes)
                                {
                                    <li class="list-inline-item">
                                        <ClientScope Entity="@scope"
                                                     Model="@Model"
                                                     DeleteClicked="() => OnScopeDeleted(scope)"
                                                     ValueChanged="() => OnScopeValueChanged(scope)" />
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <AuthorizeCheckbox Name="allow-offline-access" Label="allow offline access" @bind-Value="@Model.AllowOfflineAccess" />
                        </div>
                    </div>
                </div>
            </div>
            <div id="tokens" class="card mb-3">
                <div class="card-header">
                    <div class="row">
                        <h5 class="col">Tokens</h5>
                    </div>
                </div>
                <div class="card-body">
                    <ClientTokens Model="@Model" />
                </div>
            </div>
            <div id="secrets" class="card mb-3">
                <div class="card-header">
                    <EntitySubGridTitle Text="Secrets"
                                        AddClicked="OnAddSecretClicked" />
                </div>
                <div class="card-body">
                    <ClientSecrets Model="@Model" DeleteEntityClicked="OnDeleteSecretClicked" />
                </div>
            </div>
            <div id="claims" class="card mb-3">
                <div class="card-header">
                    <EntitySubGridTitle Text="Claims"
                                        AddClicked="OnAddClaimClicked" />
                </div>
                <div class="card-body">
                    <ClientClaims Model="@Model" DeleteEntityClicked="OnDeleteClaimClicked" />
                </div>
            </div>
            <div id="properties" class="card mb-3">
                <div class="card-header">
                    <EntitySubGridTitle Text="Properties"
                                        AddClicked="OnAddPropertyClicked" />
                </div>
                <div class="card-body">
                    <ClientProperties Model="@Model" DeleteEntityClicked="OnDeletePropertyClicked" />
                </div>
            </div>
        </div>
    </EditForm>
}