@using  Aguacongas.TheIdServer.BlazorApp.Components.UserComponents

@page "/user"
@page "/user/{id}"
@inherits EntityModel<Entity.User>

@if (Model == null)
{
    <p class="col"><em>Loading...</em></p>
}
else
{
    <EditForm EditContext="EditContext" OnValidSubmit="HandleValidSubmit">
        <div class="row bg-light sticky-top mb-3">
            <div class="col">
                @if (IsNew)
                {
                    <AuthorizeText Name="name" Placeholder="role name" @bind-Value="@Model.UserName" />
                }
                else
                {
                    <h3>@Model.UserName</h3>
                }
            </div>
            <div>
                <AuthorizeButton Type="submit" CssSubClass="btn-primary">
                    <span class="oi oi-data-transfer-download"></span>
                    Save
                </AuthorizeButton>
                @if (!IsNew)
                {
                    <DeleteEntityButton EntityId="@Model.Id" DeleteConfirmed="DeleteEntity" />
                }
            </div>

            <div class="col">
                <Filter CssClass="mt-1" TermChanged="OnFilterChanged" />
            </div>
            <div class="w-100"></div>
            <DataAnnotationsValidator />
            <ValidationSummary class="col" />
        </div>
        <div class="entity-details">
            <div class="card mb-3">
                <div class="card-body">
                    @if (IsNew)
                    {
                        <div class="form-group row">
                            <label class="col col-form-label" for="description">
                                password
                            </label>
                            <div class="col-lg-10 col-sm-12">
                                <AuthorizeText Name="password" Placeholder="password" @bind-Value="@Model.Password" />
                            </div>
                        </div>
                    }
                    <div class="form-group row">
                        <label class="col col-form-label" for="email">
                            email
                        </label>
                        <div class="col-lg-10 col-sm-12">
                            <AuthorizeText Name="email" @bind-Value="@Model.Email" />
                            <div>
                                <AuthorizeCheckbox Name="email-confirmed" Label="email confirmed" @bind-Value="@Model.EmailConfirmed" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col col-form-label" for="phone-number">
                            phone number
                        </label>
                        <div class="col-lg-10 col-sm-12">
                            <AuthorizeText Name="phone-number" @bind-Value="@Model.PhoneNumber" />
                            <div>
                                <AuthorizeCheckbox Name="phone-number-confirmed" Label="phone number confirmed" @bind-Value="@Model.PhoneNumberConfirmed" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col col-form-label" for="lokoutend">
                            lockout end
                        </label>
                        <div class="col-lg-10 col-sm-12">
                            <AuthorizeDate Name="lokoutend" @bind-Value="@Model.LockoutEnd" />
                            <div>
                                <AuthorizeCheckbox Name="lockout-enabled" Label="lockout enabled" @bind-Value="@Model.LockoutEnabled" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col col-form-label">
                        </label>
                        <div class="col-lg-10 col-sm-12">
                            <AuthorizeCheckbox Name="two-factor-enabled" Label="two factor enabled" @bind-Value="@Model.TwoFactorEnabled" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col col-form-label" for="access-failed-count">
                            access failed count
                        </label>
                        <div class="col-lg-10 col-sm-12">
                            <input id="access-failed-count" type="text" readonly class="form-control-plaintext" value="@Model.AccessFailedCount" />
                        </div>
                    </div>
                </div>
            </div>
            <div id="claims" class="card mb-3">
                <div class="card-header">
                    <EntitySubGridTitle Text="Claims"
                                        AddClicked="OnAddClaimClicked" />
                </div>
                <div class="card-body">
                    <EntitiesGrid Items="@_claims" TableClass="table table-hover" Context="claim">
                        <TableHeader>
                            <th scope="col">
                                <SortableHeader Property="Type"
                                                Text="type"
                                                GridState="_gridState" />
                            </th>
                            <th scope="col">
                                <SortableHeader Property="Value"
                                                Text="value"
                                                GridState="_gridState" />
                            </th>
                            <th></th>
                        </TableHeader>
                        <RowTemplate>
                            <td>
                                <AuthorizeText Name="type" @bind-Value="@claim.Type" />
                            </td>
                            <td>
                                <AuthorizeText Name="value" @bind-Value="@claim.Value" />
                            </td>
                            <td>
                                <AuthorizeButton CssSubClass="btn-primary" Clicked="() => OnDeleteClaimClicked(claim)">
                                    <span class="oi oi-trash"></span>
                                </AuthorizeButton>
                            </td>
                        </RowTemplate>
                    </EntitiesGrid>
                </div>
            </div>
            <div id="roles" class="card mb-3">
                <div class="card-header">
                    <div class="row">
                        <h5 class="col">Roles</h5>
                    </div>
                </div>
                <div class="card-body">
                    <UserRoles Model="@_roles" DeleteRoleClicked="OnDeleteRoleClicked" RoleValueChanged="OnRoleValueChanged" />
                </div>
            </div>
            <div id="consents" class="card mb-3">
                <div class="card-header">
                    <div class="row">
                        <h5 class="col">Consents</h5>
                    </div>
                </div>
                <div class="card-body">
                    <UserConsents Model="_consents" />
                </div>
            </div>
            <div id="external-logins" class="card mb-3">
                <div class="card-header">
                    <div class="row">
                        <h5 class="col">External login tokens</h5>
                    </div>
                </div>
                <div class="card-body">
                    <UserConsents Model="_consents" />
                </div>
            </div>
        </div>
    </EditForm>
}
